.photoGallery {
    margin: 20px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.photoGallery img {
    height: 200px;
    width: 200px;
}

.podpis {
    width: 100%;
    font-size: larger;
}